.minesweeper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.minesweeper__controls {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
  margin-top: 32px;
  align-items: center;
}

.controls__item {
  margin: 0 12px;
  padding: 12px 18px;
  border-radius: 6px;
  border: 1px solid #0E2F44;
}

.controls__btn {
  background-color: #0E2F44;
  color: #fff;
  cursor: pointer;
}

.controls__bombsLeft {
  padding: 12px 18px;
  border-radius: 6px;
  border: 1px solid #0E2F44;
}

.controls__bombsLeft span{
  color: red;
  font-weight: 600;
}

