.layout {
  display: flex;
  flex: 1;
  min-height: 100vh;
}

.layout__sidebar{
}

.sidebar {
  background-color: $sidebar-background-color;
  color: #DBD9D6;
  height: 100%;
  min-width: 240px;
}

.sidebar__logo {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 38px;
}

.sidebar__item {
  margin: 16px 0;
  padding-left: 24px;
  list-style: none;
}

.sidebar__item--link {
  text-decoration: none;
  color: #DBD9D6;
}

.sidebar__logo--belt {
  width: 100px;
}

.layout__content {
  width: 100%;
}

.layout__container {
  padding: 60px;
}
