.header {
  display: flex;
  align-items: center;
  height: $header-height;
  background-color: $header-background;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.header__content {
  display: flex;
  margin: 0 12px;
  flex: 1;
}

.header__container {
  display: inline-flex;
  align-items: center;
  margin: 0 auto;
  max-width: $layout-size;
  width: 100%;
}
