.game-setup {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

.game-setup__item {
    margin : 18px 0;
    display: flex;
    flex-direction: column;
}

.option-button {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.option-button__item {
    padding: 18px 24px;
    width: 100%;
    background-color: #ddd;
    cursor: pointer;
    text-align: center;
    margin: 0 1px;
}

.option-button__item--selected {
    background-color: #0E2F44;
    color: #fff;
}

.option-button__item:hover {
    background-color: rgba(14,47,68, 0.5);
    color: #000;
}

.item__title {
    margin: 10px 0;
    font-weight: 600;
    font-size: 14px;
}

.item__input {
    border-radius: 5px;
    padding: 12px 18px;
    border: 1px solid #0E2F44;
}
