////
// Header variables

$header-height: 60px;
$header-background: #DBD9D6;

////
// Sidebar variables

$sidebar-close-width: 56px;
$sidebar-open-width: 256px;
$sidebar-background-color: #0E2F44;

////
// Layout content variables

$layout-size: 1440px;

////
// Layout styles

@import "./components/header/styles";
@import "./components/layout/styles";
