.cell {
  background-color: #ccc;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 1px solid #3b3b3b;
}

.cell--bomb {
  color: red;
}

.cell--opened {
  background-color: #eee;
}

.cell:hover {
  background-color: skyblue;
}
